
<h1>Вопрос к тесту "<%= @quiz.title %>"</h1>

<p>
  <strong>Вопрос:</strong>
  <%= @question.question %>
</p>

<%= link_to 'Варианты ответов',
            {
                :controller => 'answers',
                :action => 'index' ,
                :quiz_id => @quiz.id,
                :question_id => @question.id
            },
            { :class => 'btn btn-success' } %>
<%= link_to 'Вернуться к списку вопросов',
            {
                :controller => 'questions',
                :action => 'index',
                :quiz_id => @quiz.id
            },
            { :class => 'btn btn-default' } %>