<p>
  <strong>Название:</strong>
  <%= @quiz.title %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @quiz.description %>
</p>

<%= link_to 'Список вопросов теста',
            {
                :controller => 'questions',
                :action => 'index' ,
                :quiz_id => @quiz.id
            },
            { :class => 'btn btn-success' } %>
<%= link_to 'Вернуться к списку',
            { :controller => 'quizzes', :action => 'index' },
            { :class => 'btn btn-default' } %>