<div class="jumbotron">
  <h1 class="display-4">Система тестирования</h1>
  <p class="lead">Простой и удобный сервис для создания и решения тестов.</p>
  <hr class="my-4">
  <p>Чтобы начать пользоваться сервисом, вам необходимо войти или зарегистрироваться.</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="#" role="button">Войти</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Зарегистрироваться</a>
  </p>
</div>