<nav class="navbar navbar-default">
  <div class="container-fluid header">
    <ul class="nav navbar-nav">
      <li><a href="#">Главная</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right ">
      <li><a href="#">Авторизация</a></li>
      <li><a href="#">Регистрация</a></li>
    </ul>
  </div>
</nav>

<h1>Система тестирования</h1>
<%= link_to 'Все тесты', controller: 'quizzes' %>