<h1>Тест "<%= @quiz.title %>"</h1>
<h2>Изменить ответ к вопросу "<%= @question.question %>"</h2>

<%= render 'answers/edit_form' %>

<%= link_to 'Вернуться к списку ответов',
            controller: 'answers',
            action: 'index',
            quiz_id: @quiz.id,
            question_id: @question.id %>