<nav class="navbar navbar-default">
  <div class="container-fluid header">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">....</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Главная</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right ">
      <li><a href="#">Авторизация</a></li>
      <li><a href="#">Регистрация</a></li>
    </ul>
  </div>
</nav>
<h1>Тест "<%= @quiz.title %>"</h1>
<h2>Добавить ответ к вопросу "<%= @question.question %>"</h2>

<%= render 'answers/edit_form' %>

<%= link_to 'Вернуться к списку ответов',
            {
                :controller => 'answers',
                :action => 'index',
                :quiz_id => @quiz.id,
                :question_id => @question.id
            },
            { :class => 'btn btn-default' } %>