<h1>Тест "<%= @quiz.title %>"</h1>
<h2>Ответ на вопрос "<%= @question.question %>"</h2>

<p>
  <strong>Ответ:</strong>
  <%= @answer.title %>
</p>

<p>
  <strong>Является верным:</strong>
  <% if @answer.right  %>
  Да
  <% else %>
  Нет
  <% end %>
</p>

<%= link_to 'Вернуться к списку ответов',
            {
                :controller => 'answers',
                :action => 'index',
                :quiz_id => @quiz.id,
                :question_id => @question.id
            },
            { :class => 'btn btn-default' } %>