 @import "bootstrap-sprockets";
 @import "bootstrap";

 html {
  overflow-y: scroll;
}

body {
  color: black;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

table {
  vertical-align: middle;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
}

 .navbar-default .navbar-brand {
  color: white;
}

.navbar-default {
  background-color: #0078ca;
  border-color:#0078ca;
  height: 70px;
  padding-inline-start: 30px;
  font-size: 20px;
  padding-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-default .navbar-nav > li > a {
  color:white;
}
 
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color:lightskyblue;
}
textarea {
  resize: vertical;
}
